<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Appointment Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #talepForm="ngForm" class="example-form">
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="model.firstName"
                name="firstName"
                #name="ngModel"
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="model.lastName"
                name="lastName"
                #name="ngModel"
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Appointment Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="model.date"
                name="date"
                #name="ngModel"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <div class="24hr-example">
              <input
                matInput
                placeholder="Appointment Start Time"
                aria-label="Appointment Start Time"
                [ngxTimepicker]="startTime"
                [format]="24"
                readonly
              />
              <ngx-material-timepicker #startTime></ngx-material-timepicker>
            </div>
          </div>
          <div class="col-md-12">
            <div class="24hr-example">
              <input
                matInput
                placeholder="Appointment End Time"
                aria-label="Appointment End Time"
                [ngxTimepicker]="endTime"
                [format]="24"
                readonly
              />
              <ngx-material-timepicker #endTime></ngx-material-timepicker>
            </div>
          </div>
          <div class="col-md-12">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              style="margin: 5px;"
              [disabled]="!talepForm.form.valid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
