<form #appointmentForm="ngForm">
  <mat-form-field>
    <input placeholder="Name" matInput name="name" >
  </mat-form-field>

  <mat-form-field>
    <input placeholder="Phone" matInput >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Date"
      [matDatepicker]="picker"
      name="date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Appointment End Time"
      aria-label="Appointment End Time"
      [ngxTimepicker]="endTime"
      [format]="24"
    />
    <ngx-material-timepicker #endTime></ngx-material-timepicker>
  </mat-form-field>
</form>
